---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100

AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
PointerAlignment: Left

# Optional: keep braces on the same line for classes/functions
BreakBeforeBraces: Attach
